.Card {
  display: flex;
  flex-direction: row-reverse;
  position: relative;

  .content {
    width: 100%;
  }

  .close-btn {
    position: absolute;
    opacity: 0.3;
    right: 0;
    top: 0;
    height: 30px;
    width: 30px;
    margin: 10px;
    border-radius: 50%;
    color: #741313;
    font-size: 1.2em;
    z-index: 10;
  }

  .close-btn:hover {
    background: #ee9f96;
    opacity: 1;

    & ~ .content > * {
      box-shadow: 0 0 1px 1px #f17d70, 0 0 1px 1px #f17d70 inset;
    }
  }
}
