:root {
  --Case-puny-brad: 8px;
}

.Case {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 30px auto auto;
  column-gap: 5px;
  margin: 5px;
  grid-template-areas:
    't t'
    'e o'
    'c c';

  .Toggle {
    display: flex;
    grid-area: t;
    margin-left: 10px;

    .button {
      width: 100px;
      height: 100%;
      margin-left: 2px;
      border: none;
      border-radius: var(--Case-puny-brad) var(--Case-puny-brad) 0 0;

      &.depressed {
        background: #282a36;
        color: white;
      }
    }
  }

  .Editor {
    grid-area: e;
    border-radius: var(--Case-puny-brad);

    &.hidden {
      grid-area: none;
      position: absolute;
      top: -9999px;
    }
  }

  .Output {
    border-radius: var(--Case-puny-brad);
  }

  .categories {
    display: flex;
    align-items: center;
    grid-area: c;

    .CardList {
      display: flex;

      .Card {
        display: flex;
        align-items: center;

        .category.Editable {
          min-width: 60px;
        }

        .close-btn {
          position: static;
          margin: 5px;
          height: 20px;
          width: 20px;
          border-radius: 0;
          font-size: 0.8em;
        }
      }
    }

    .new-category-btn {
      height: 30px;
      width: 30px;
      margin: 5px;
      font-size: 1.2em;
    }
  }
}
