.Editor {
  background: #282a36;
  overflow: hidden;

  .background {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

    .CodeMirror {
      min-height: 3em;
      font-size: inherit;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;

      .CodeMirror-scroll {
        padding: 62px 0;
        margin-top: -20px;
        margin-bottom: -20px;
      }
    }
  }
}
