.Case {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 30px repeat(3, 1fr) 30px;
  grid-template-areas:
    'l l l l l l l l l l l l'
    'h h h h h h h h o o o o'
    'h h h h h h h h o o o o'
    'h h h h h h h h o o o o'
    'c c c c c c c c c c c c';

  width: 90%;

  .lang-toggle {
    display: flex;
    grid-area: l;

    button {
      width: 100px;
    }
  }

  .code {
    grid-area: h;
    display: flex;
    align-items: center;
    padding-top: 35px;
    background: #282a36;

    .background {
      height: 100%;
      width: 100%;
      margin: 20px;
    }

    &.hidden {
      grid-area: none;
      position: absolute;
      top: -9999px;
    }
  }

  .output {
    grid-area: o;
    min-height: 100%;
    width: 100%;
    background: gainsboro;

    .doc {
      border: none;
    }
  }

  .category-list {
    grid-area: c;
    display: flex;

    ul {
      display: flex;

      .category-item {
        display: flex;
        border: 1px solid salmon;

        .content {
          min-width: 10px;
        }

        .close-btn {
          width: 30px;
          visibility: hidden;
        }

        &:hover {
          .close-btn {
            visibility: visible;
            background: rgb(204, 53, 53);
            color: white;
            border: none;
          }
        }
      }
    }

    .new-category-button {
      width: 30px;
    }
  }
}
