:root {
  --App-side-margin: 40px;
  --App-color-main: rgb(50, 171, 192);
}

.App {
  padding-left: var(--App-side-margin);
  padding-right: var(--App-side-margin);

  .header {
    .title {
      color: salmon;
    }
  }

  .Entries {
    & > .CardList {
      display: flex;
      flex-direction: column;
      align-items: center;

      & > .Card {
        // max-width: 1300px;
        width: 100%;
        margin-bottom: 40px;
        border-radius: 20px;
        background: var(--App-color-main);

        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

        // box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

        .Entry {
          display: grid;
          grid-template-columns: repeat(8, 1fr);
          grid-template-rows: repeat(4, auto);
          grid-template-areas:
            't t t t t t t t'
            'd d d d d d d d'
            'c c c c c c c c'
            'n n n n n n n n';
          width: 100%;
          padding: 5px 20px;

          .title {
            grid-area: t;
            color: rgb(250, 250, 250);
            font-size: 2.5em;
            width: 100%;
            font-weight: bold;

            &.sticky {
              position: fixed;
              top: 0;
              background: var(--App-color-main);
              z-index: 100;
            }
          }

          .description {
            grid-area: d;
          }

          .case-list {
            grid-area: c;
          }

          .new-case-button {
            grid-area: n;
            width: 100px;
            height: 30px;
          }
        }
      }
    }
  }
}
