:root {
  --color-primary: #df711b;
  --color-secondary: #ffb740;
  --color-dominant: #64c9cf;
  --color-auxiliary: #fde49c;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.code .CodeMirror {
  font-family: 'JetBrains Mono';
}

button {
  cursor: pointer;
}
